<!-- views/todos.ejs -->
<div class="todo-sections">
    <!-- Overdue Section -->
    <div class="section overdue">
        <h5>Overdue <span id="count-overdue">
                <%= overdue.length %>
            </span></h5>
        <ul>
            <% overdue.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? 'checked' : '' %> disabled>
                    <%= todo.title %>
                        <span class="due-date">
                            <%= todo.dueDate %>
                        </span>
                </li>
                <% }); %>
        </ul>
    </div>

    <!-- Due Today Section -->
    <div class="section due-today">
        <h5>Due Today <span id="count-due-today">
                <%= dueToday.length %>
            </span></h5>
        <ul>
            <% dueToday.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? 'checked' : '' %> disabled>
                    <%= todo.title %>
                </li>
                <% }); %>
        </ul>
    </div>

    <!-- Due Later Section -->
    <div class="section due-later">
        <h5>Due Later <span id="count-due-later">
                <%= dueLater.length %>
            </span></h5>
        <ul>
            <% dueLater.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? 'checked' : '' %> disabled>
                    <%= todo.title %>
                        <span class="due-date">
                            <%= todo.dueDate %>
                        </span>
                </li>
                <% }); %>
        </ul>
    </div>
</div>