<!-- views/todos.ejs -->
<div class="todo-sections">
    <!-- 1. Separate h5 tags and count spans (no nested span) -->
    <!-- 2. Remove extra classes (overdue, due-today, due-later) -->
    <!-- 3. Ensure exact section order: Overdue, Due Today, Due Later -->

    <!-- Overdue Section -->
    <div class="section">
        <h5>Overdue</h5>
        <span id="count-overdue">
            <%= overdue.length %>
        </span>
        <ul>
            <% overdue.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? 'checked' : '' %> disabled>
                    <%= todo.title %>
                        <span class="due-date">
                            <%= todo.dueDate %>
                        </span>
                </li>
                <% }); %>
        </ul>
    </div>

    <!-- Due Today Section -->
    <div class="section">
        <h5>Due Today</h5>
        <span id="count-due-today">
            <%= dueToday.length %>
        </span>
        <ul>
            <% dueToday.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? 'checked' : '' %> disabled>
                    <%= todo.title %>
                </li>
                <% }); %>
        </ul>
    </div>

    <!-- Due Later Section -->
    <div class="section">
        <h5>Due Later</h5>
        <span id="count-due-later">
            <%= dueLater.length %>
        </span>
        <ul>
            <% dueLater.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? 'checked' : '' %> disabled>
                    <%= todo.title %>
                        <span class="due-date">
                            <%= todo.dueDate %>
                        </span>
                </li>
                <% }); %>
        </ul>
    </div>
</div>